
//* cursor pointer style for actionh buttons and add button
.task_cursor{
    cursor: pointer;
}

//* To Do style
.task_completed{
    color: gray;
    text-decoration: line-through;
}

//* To Do style
.task_pending {
    color: tomato;
}

//* center table head content below TO DO title
.css-1zts0j {
    text-align: center;
}